
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Roboto", sans-serif;
}

body{
    width: 100%;
    height: 100%;
}

.wrapper{
    width: 100%;
    height: 100vh;
    background-image: radial-gradient( circle 815px at 23.4% -21.8%,  rgba(9,29,85,1) 0.2%, rgba(0,0,0,1) 100.2% );
}

.container{
    width: 30rem;
    height: 20rem;
    background-color: aliceblue;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.left{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left h1{
    font-size: 8rem;
}

.left h4{
    font-size: 2rem;

}

.right{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    /* background-image: linear-gradient(120deg, #ff5858 10%, #f09819 90%); */
    background-color: #f09819 ;
}

.right h2{
    font-size: 2rem;
}

.right h4{
    font-size: 3rem;

}

@media (max-width:650px) {
    .container{
        width: 20rem;
        height: 15rem;
    
    }
    .left h1{
        font-size: 6rem;
    }
    
    .left h4{
        font-size: 1.5rem;
    
    }
    .right h2{
        font-size: 1.5rem;
    }
    
    .right h4{
        font-size: 2rem;
    
    }
}

@media (max-width:300px) {
    .container{
        width: 15rem;
        height: 10rem;
    
    }
    .left h1{
        font-size: 4rem;
    }
    
    .left h4{
        font-size: 1rem;
    
    }
    .right h2{
        font-size: 1rem;
    }
    
    .right h4{
        font-size: 1.5rem;
    
    }
}